/* Estilos para la ventana modal */
.modal {
  display: none;
  /* Agrega otros estilos de la ventana modal aquí */
}

.modal.show {
  display: block;
  /* Agrega otros estilos para mostrar la ventana modal aquí */
}

.title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', Arial, Helvetica, sans-serif; 
    margin-top: 50px;
}

.letraEnvio {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', Arial, Helvetica, sans-serif;
    text-align: center;
}


.texto-container {
    background-color: #c0b9b9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .copiar-btn {
    background-color: #0b1af8;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .copiar-btn.copiado {
    background-color: #999;
  }
  
  .aviso-texto-copiado {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    animation: fadeOut 3s;
  }

  .caja-gris {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  
  